* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: cursive;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    padding: 20px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.678);
    border-radius: 15px;
    width: 470px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    margin: 25px 0px;
    font-size: 32px;
}

input {
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 3px solid green;
    color: green;
    padding: 5px 10px;
    font-size: 32px;
    text-align: center;
    height: 50px;
}

button {
    color: white;
    background-color: green;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;

    &:hover{
        background-color: rgb(1, 68, 1);
    }
}

span {
    font-weight: 600;
    color: green;
    font-size: 18px;
}

.red-color{
    color: red;
}
